<div class="slider">
  <div class="slide" style="background-image: url('../../../content/images/1.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/2.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/3.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/4.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/5.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/6.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/7.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/8.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/9.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/10.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/11.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/12.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/13.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/14.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/15.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/16.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/17.jpg')"></div>
  <div class="slide" style="background-image: url('../../../content/images/18.jpg')"></div>
</div>
