<div class="row justify-content-center">
  <div class="col-4">
    <p jhiTranslate="footer">This is your footer</p>
  </div>

  <div class="col-5">
    ما رو در رسانه های اجتماعی دنبال کنید:
    <a href="https://facebook.com"><fa-icon icon="facebook-square">&nbsp;</fa-icon>FAB</a>
    <a href="https://instagram.com"><fa-icon icon="instagram-square">&nbsp;</fa-icon>INS</a>
    <a href="https://linkedin.com"><fa-icon icon="linkedin">&nbsp;</fa-icon>IND</a>
    <a href="https://telegram.me"><fa-icon icon="telegram-plane">&nbsp;</fa-icon></a>
  </div>
</div>
