<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fileDocument">
      <h2 data-cy="fileDocumentDetailsHeading"><span jhiTranslate="bombApp.fileDocument.detail.title">File Document</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fileDocument.id }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.fileDocument.fileName">File Name</span></dt>
        <dd>
          <span>{{ fileDocument.fileName }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.fileDocument.fileContent">File Content</span></dt>
        <dd>
          <div *ngIf="fileDocument.fileContent">
            <a (click)="openFile(fileDocument.fileContent, fileDocument.fileContentContentType)" jhiTranslate="entity.action.open">open</a>
            {{ fileDocument.fileContentContentType }}, {{ byteSize(fileDocument.fileContent) }}
          </div>
        </dd>
        <dt><span jhiTranslate="bombApp.fileDocument.filePath">File Path</span></dt>
        <dd>
          <span>{{ fileDocument.filePath }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.fileDocument.description">Description</span></dt>
        <dd>
          <span>{{ fileDocument.description }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.fileDocument.party">Party</span></dt>
        <dd>
          <div *ngIf="fileDocument.party">
            <a [routerLink]="['/party', fileDocument.party?.id, 'view']">{{ fileDocument.party?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/file-document', fileDocument.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
