<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="contact">
      <h2 data-cy="contactDetailsHeading"><span jhiTranslate="bombApp.contact.detail.title">Contact</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contact.id }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.contact.title">Title</span></dt>
        <dd>
          <span>{{ contact.title }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.contact.contactType">Contact Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'bombApp.ContactType.' + contact.contactType }}">{{ contact.contactType }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.contact.contactValue">Contact Value</span></dt>
        <dd>
          <span>{{ contact.contactValue }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.contact.party">Party</span></dt>
        <dd>
          <div *ngIf="contact.party">
            <a [routerLink]="['/party', contact.party?.id, 'view']">{{ contact.party?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/contact', contact.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
