<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="party">
      <h2 data-cy="partyDetailsHeading"><span jhiTranslate="bombApp.party.detail.title">Party</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ party.id }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.party.title">Title</span></dt>
        <dd>
          <span>{{ party.title }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.party.partyCode">Party Code</span></dt>
        <dd>
          <span>{{ party.partyCode }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.party.tradeTitle">Trade Title</span></dt>
        <dd>
          <span>{{ party.tradeTitle }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.party.activationDate">Activation Date</span></dt>
        <dd>
          <span>{{ party.activationDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.party.expirationDate">Expiration Date</span></dt>
        <dd>
          <span>{{ party.expirationDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.party.activationStatus">Activation Status</span></dt>
        <dd>
          <span>{{ party.activationStatus }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.party.description">Description</span></dt>
        <dd>
          <span>{{ party.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/party', party.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
