<div>
  <h2 id="page-heading" data-cy="FileDocumentHeading">
    <span jhiTranslate="bombApp.fileDocument.home.title">File Documents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bombApp.fileDocument.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-file-document"
        [routerLink]="['/file-document/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bombApp.fileDocument.home.createLabel"> Create a new File Document </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fileDocuments?.length === 0">
    <span jhiTranslate="bombApp.fileDocument.home.notFound">No fileDocuments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fileDocuments && fileDocuments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fileName">
            <span jhiTranslate="bombApp.fileDocument.fileName">File Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fileContent">
            <span jhiTranslate="bombApp.fileDocument.fileContent">File Content</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="filePath">
            <span jhiTranslate="bombApp.fileDocument.filePath">File Path</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="bombApp.fileDocument.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="party.id">
            <span jhiTranslate="bombApp.fileDocument.party">Party</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fileDocument of fileDocuments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/file-document', fileDocument.id, 'view']">{{ fileDocument.id }}</a>
          </td>
          <td>{{ fileDocument.fileName }}</td>
          <td>
            <a
              *ngIf="fileDocument.fileContent"
              (click)="openFile(fileDocument.fileContent, fileDocument.fileContentContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="fileDocument.fileContent"
              >{{ fileDocument.fileContentContentType }}, {{ byteSize(fileDocument.fileContent) }}</span
            >
          </td>
          <td>{{ fileDocument.filePath }}</td>
          <td>{{ fileDocument.description }}</td>
          <td>
            <div *ngIf="fileDocument.party">
              <a [routerLink]="['/party', fileDocument.party?.id, 'view']">{{ fileDocument.party?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/file-document', fileDocument.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/file-document', fileDocument.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fileDocument)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fileDocuments && fileDocuments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
