<div>
  <h2 id="page-heading" data-cy="FoodHeading">
    <span jhiTranslate="bombApp.food.home.title">Foods</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bombApp.food.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-food"
        [routerLink]="['/food/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bombApp.food.home.createLabel"> Create a new Food </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="foods?.length === 0">
    <span jhiTranslate="bombApp.food.home.notFound">No foods found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="foods && foods.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title"><span jhiTranslate="bombApp.food.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="foodCode">
            <span jhiTranslate="bombApp.food.foodCode">Food Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sizeClassId">
            <span jhiTranslate="bombApp.food.sizeClassId">Size Class Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="photo"><span jhiTranslate="bombApp.food.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="categoryClassId">
            <span jhiTranslate="bombApp.food.categoryClassId">Category Class Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastPrice">
            <span jhiTranslate="bombApp.food.lastPrice">Last Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="bombApp.food.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="producerParty.id">
            <span jhiTranslate="bombApp.food.producerParty">Producer Party</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="designerParty.id">
            <span jhiTranslate="bombApp.food.designerParty">Designer Party</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="foodType.id">
            <span jhiTranslate="bombApp.food.foodType">Food Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foods; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/food', food.id, 'view']">{{ food.id }}</a>
          </td>
          <td>{{ food.title }}</td>
          <td>{{ food.foodCode }}</td>
          <td>{{ food.sizeClassId }}</td>
          <td>
            <a *ngIf="food.photo" (click)="openFile(food.photo, food.photoContentType)">
              <img [src]="'data:' + food.photoContentType + ';base64,' + food.photo" style="max-height: 30px" alt="food image" />
            </a>
            <span *ngIf="food.photo">{{ food.photoContentType }}, {{ byteSize(food.photo) }}</span>
          </td>
          <td>{{ food.categoryClassId }}</td>
          <td>{{ food.lastPrice }}</td>
          <td>{{ food.description }}</td>
          <td>
            <div *ngIf="food.producerParty">
              <a [routerLink]="['/party', food.producerParty?.id, 'view']">{{ food.producerParty?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="food.designerParty">
              <a [routerLink]="['/party', food.designerParty?.id, 'view']">{{ food.designerParty?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="food.foodType">
              <a [routerLink]="['/food-type', food.foodType?.id, 'view']">{{ food.foodType?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/food', food.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/food', food.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(food)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="foods && foods.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
