<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-factor-item-heading" data-cy="FactorItemCreateUpdateHeading" jhiTranslate="bombApp.factorItem.home.createOrEditLabel">
        Create or edit a Factor Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.factorItem.rowNum" for="field_rowNum">Row Num</label>
          <input type="number" class="form-control" name="rowNum" id="field_rowNum" data-cy="rowNum" formControlName="rowNum" />
          <div *ngIf="editForm.get('rowNum')!.invalid && (editForm.get('rowNum')!.dirty || editForm.get('rowNum')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('rowNum')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('rowNum')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.factorItem.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('title')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              This field cannot be longer than 200 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.factorItem.count" for="field_count">Count</label>
          <input type="number" class="form-control" name="count" id="field_count" data-cy="count" formControlName="count" />
          <div *ngIf="editForm.get('count')!.invalid && (editForm.get('count')!.dirty || editForm.get('count')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('count')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('count')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.factorItem.discount" for="field_discount">Discount</label>
          <input type="number" class="form-control" name="discount" id="field_discount" data-cy="discount" formControlName="discount" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.factorItem.tax" for="field_tax">Tax</label>
          <input type="number" class="form-control" name="tax" id="field_tax" data-cy="tax" formControlName="tax" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.factorItem.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 300 }"
            >
              This field cannot be longer than 300 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.factorItem.food" for="field_food">Food</label>
          <select class="form-control" id="field_food" data-cy="food" name="food" formControlName="food">
            <option *ngIf="!editForm.get('food')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="foodOption.id === editForm.get('food')!.value?.id ? editForm.get('food')!.value : foodOption"
              *ngFor="let foodOption of foodsSharedCollection; trackBy: trackFoodById"
            >
              {{ foodOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['food'])!.invalid && (editForm.get(['food'])!.dirty || editForm.get(['food'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['food'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.factorItem.factor" for="field_factor">Factor</label>
          <select class="form-control" id="field_factor" data-cy="factor" name="factor" formControlName="factor">
            <option *ngIf="!editForm.get('factor')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="factorOption.id === editForm.get('factor')!.value?.id ? editForm.get('factor')!.value : factorOption"
              *ngFor="let factorOption of factorsSharedCollection; trackBy: trackFactorById"
            >
              {{ factorOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['factor'])!.invalid && (editForm.get(['factor'])!.dirty || editForm.get(['factor'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['factor'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
