<div>
  <h2 id="page-heading" data-cy="FactorHeading">
    <span jhiTranslate="bombApp.factor.home.title">Factors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bombApp.factor.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-factor"
        [routerLink]="['/factor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bombApp.factor.home.createLabel"> Create a new Factor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="factors?.length === 0">
    <span jhiTranslate="bombApp.factor.home.notFound">No factors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="factors && factors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title"><span jhiTranslate="bombApp.factor.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="factorCode">
            <span jhiTranslate="bombApp.factor.factorCode">Factor Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastStatus">
            <span jhiTranslate="bombApp.factor.lastStatus">Last Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="orderWay">
            <span jhiTranslate="bombApp.factor.orderWay">Order Way</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="serving">
            <span jhiTranslate="bombApp.factor.serving">Serving</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentStateClassId">
            <span jhiTranslate="bombApp.factor.paymentStateClassId">Payment State Class Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="categoryClassId">
            <span jhiTranslate="bombApp.factor.categoryClassId">Category Class Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalPrice">
            <span jhiTranslate="bombApp.factor.totalPrice">Total Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="discount">
            <span jhiTranslate="bombApp.factor.discount">Discount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tax"><span jhiTranslate="bombApp.factor.tax">Tax</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="netprice">
            <span jhiTranslate="bombApp.factor.netprice">Netprice</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="bombApp.factor.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="buyerParty.id">
            <span jhiTranslate="bombApp.factor.buyerParty">Buyer Party</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sellerParty.id">
            <span jhiTranslate="bombApp.factor.sellerParty">Seller Party</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deliveryAddress.id">
            <span jhiTranslate="bombApp.factor.deliveryAddress">Delivery Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factor of factors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/factor', factor.id, 'view']">{{ factor.id }}</a>
          </td>
          <td>{{ factor.title }}</td>
          <td>{{ factor.factorCode }}</td>
          <td jhiTranslate="{{ 'bombApp.FactorStatus.' + factor.lastStatus }}">{{ factor.lastStatus }}</td>
          <td jhiTranslate="{{ 'bombApp.FactorOrderWay.' + factor.orderWay }}">{{ factor.orderWay }}</td>
          <td jhiTranslate="{{ 'bombApp.FactorServing.' + factor.serving }}">{{ factor.serving }}</td>
          <td>{{ factor.paymentStateClassId }}</td>
          <td>{{ factor.categoryClassId }}</td>
          <td>{{ factor.totalPrice }}</td>
          <td>{{ factor.discount }}</td>
          <td>{{ factor.tax }}</td>
          <td>{{ factor.netprice }}</td>
          <td>{{ factor.description }}</td>
          <td>
            <div *ngIf="factor.buyerParty">
              <a [routerLink]="['/party', factor.buyerParty?.id, 'view']">{{ factor.buyerParty?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="factor.sellerParty">
              <a [routerLink]="['/party', factor.sellerParty?.id, 'view']">{{ factor.sellerParty?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="factor.deliveryAddress">
              <a [routerLink]="['/address', factor.deliveryAddress?.id, 'view']">{{ factor.deliveryAddress?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/factor', factor.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/factor', factor.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(factor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="factors && factors.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
