<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-branch-heading" data-cy="BranchCreateUpdateHeading" jhiTranslate="bombApp.branch.home.createOrEditLabel">
        Create or edit a Branch
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('title')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              This field cannot be longer than 200 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.branchCode" for="field_branchCode">Branch Code</label>
          <input
            type="text"
            class="form-control"
            name="branchCode"
            id="field_branchCode"
            data-cy="branchCode"
            formControlName="branchCode"
          />
          <div *ngIf="editForm.get('branchCode')!.invalid && (editForm.get('branchCode')!.dirty || editForm.get('branchCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('branchCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('branchCode')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.tradeTitle" for="field_tradeTitle">Trade Title</label>
          <input
            type="text"
            class="form-control"
            name="tradeTitle"
            id="field_tradeTitle"
            data-cy="tradeTitle"
            formControlName="tradeTitle"
          />
          <div *ngIf="editForm.get('tradeTitle')!.invalid && (editForm.get('tradeTitle')!.dirty || editForm.get('tradeTitle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tradeTitle')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tradeTitle')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              This field cannot be longer than 200 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.activationDate" for="field_activationDate">Activation Date</label>
          <div class="input-group">
            <input
              id="field_activationDate"
              data-cy="activationDate"
              type="text"
              class="form-control"
              name="activationDate"
              ngbDatepicker
              #activationDateDp="ngbDatepicker"
              formControlName="activationDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="activationDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('activationDate')!.invalid && (editForm.get('activationDate')!.dirty || editForm.get('activationDate')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('activationDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.expirationDate" for="field_expirationDate">Expiration Date</label>
          <div class="input-group">
            <input
              id="field_expirationDate"
              data-cy="expirationDate"
              type="text"
              class="form-control"
              name="expirationDate"
              ngbDatepicker
              #expirationDateDp="ngbDatepicker"
              formControlName="expirationDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="expirationDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.activationStatus" for="field_activationStatus"
            >Activation Status</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="activationStatus"
            id="field_activationStatus"
            data-cy="activationStatus"
            formControlName="activationStatus"
          />
          <div
            *ngIf="
              editForm.get('activationStatus')!.invalid &&
              (editForm.get('activationStatus')!.dirty || editForm.get('activationStatus')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('activationStatus')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.lat" for="field_lat">Lat</label>
          <input type="number" class="form-control" name="lat" id="field_lat" data-cy="lat" formControlName="lat" />
          <div *ngIf="editForm.get('lat')!.invalid && (editForm.get('lat')!.dirty || editForm.get('lat')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lat')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('lat')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
          <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('address')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('address')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 3000 }"
            >
              This field cannot be longer than 3000 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.postalCode" for="field_postalCode">Postal Code</label>
          <input
            type="text"
            class="form-control"
            name="postalCode"
            id="field_postalCode"
            data-cy="postalCode"
            formControlName="postalCode"
          />
          <div *ngIf="editForm.get('postalCode')!.invalid && (editForm.get('postalCode')!.dirty || editForm.get('postalCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('postalCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('postalCode')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 12 }"
            >
              This field cannot be longer than 12 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 3000 }"
            >
              This field cannot be longer than 3000 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="bombApp.branch.party" for="field_party">Party</label>
          <select class="form-control" id="field_party" data-cy="party" name="party" formControlName="party">
            <option *ngIf="!editForm.get('party')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="partyOption.id === editForm.get('party')!.value?.id ? editForm.get('party')!.value : partyOption"
              *ngFor="let partyOption of partiesSharedCollection; trackBy: trackPartyById"
            >
              {{ partyOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['party'])!.invalid && (editForm.get(['party'])!.dirty || editForm.get(['party'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['party'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
