<div>
  <h2 id="page-heading" data-cy="FactorItemHeading">
    <span jhiTranslate="bombApp.factorItem.home.title">Factor Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bombApp.factorItem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-factor-item"
        [routerLink]="['/factor-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bombApp.factorItem.home.createLabel"> Create a new Factor Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="factorItems?.length === 0">
    <span jhiTranslate="bombApp.factorItem.home.notFound">No factorItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="factorItems && factorItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rowNum">
            <span jhiTranslate="bombApp.factorItem.rowNum">Row Num</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="title"><span jhiTranslate="bombApp.factorItem.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="count"><span jhiTranslate="bombApp.factorItem.count">Count</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="discount">
            <span jhiTranslate="bombApp.factorItem.discount">Discount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tax"><span jhiTranslate="bombApp.factorItem.tax">Tax</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="bombApp.factorItem.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="food.id"><span jhiTranslate="bombApp.factorItem.food">Food</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="factor.id">
            <span jhiTranslate="bombApp.factorItem.factor">Factor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factorItem of factorItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/factor-item', factorItem.id, 'view']">{{ factorItem.id }}</a>
          </td>
          <td>{{ factorItem.rowNum }}</td>
          <td>{{ factorItem.title }}</td>
          <td>{{ factorItem.count }}</td>
          <td>{{ factorItem.discount }}</td>
          <td>{{ factorItem.tax }}</td>
          <td>{{ factorItem.description }}</td>
          <td>
            <div *ngIf="factorItem.food">
              <a [routerLink]="['/food', factorItem.food?.id, 'view']">{{ factorItem.food?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="factorItem.factor">
              <a [routerLink]="['/factor', factorItem.factor?.id, 'view']">{{ factorItem.factor?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/factor-item', factorItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/factor-item', factorItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(factorItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="factorItems && factorItems.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
