<div class="row justify-content-center">
  <div class="col-6">
    <h3>رضایت شما ، افتخار ماست</h3>
    <h5 style="text-justify: newspaper">
      فست فود بمب از سال 1395 باهدف ارایه فست فود با کیفیت و طعم ماندگار تاسیس شد. هم اکنون این مجموعه افتخار دارد با گذشت 5 سال طرفداران
      زیادی را جذب و با هدف بهبود خدمت رسانی به همشهریان عزیز اصفهانی طرح راه اندازی سامانه فروش آنلاین کلید خورده است. بسیار مشتاقیم تا با
      دریافت نظرات و انتقادات شما، ما را در بهبود کیفیت همراهی کنید. قطعا در آینده ایی نزدیک با اخبار جدید در خدمت همشهریان عزیز هستیم.
      رضایت شما ، افتخار ماست
    </h5>
  </div>
</div>
