<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="priceHistory">
      <h2 data-cy="priceHistoryDetailsHeading"><span jhiTranslate="bombApp.priceHistory.detail.title">Price History</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ priceHistory.id }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.priceHistory.foodId">Food Id</span></dt>
        <dd>
          <span>{{ priceHistory.foodId }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.priceHistory.materialId">Material Id</span></dt>
        <dd>
          <span>{{ priceHistory.materialId }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.priceHistory.price">Price</span></dt>
        <dd>
          <span>{{ priceHistory.price }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/price-history', priceHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
