<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span jhiTranslate="bombApp.address.detail.title">Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.address.title">Title</span></dt>
        <dd>
          <span>{{ address.title }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.address.lat">Lat</span></dt>
        <dd>
          <span>{{ address.lat }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.address.lon">Lon</span></dt>
        <dd>
          <span>{{ address.lon }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.address.street1">Street 1</span></dt>
        <dd>
          <span>{{ address.street1 }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.address.street2">Street 2</span></dt>
        <dd>
          <span>{{ address.street2 }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.address.address">Address</span></dt>
        <dd>
          <span>{{ address.address }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.address.postalCode">Postal Code</span></dt>
        <dd>
          <span>{{ address.postalCode }}</span>
        </dd>
        <dt><span jhiTranslate="bombApp.address.party">Party</span></dt>
        <dd>
          <div *ngIf="address.party">
            <a [routerLink]="['/party', address.party?.id, 'view']">{{ address.party?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
