<div>
  <h2 id="page-heading" data-cy="MenuItemHeading">
    <span jhiTranslate="bombApp.menuItem.home.title">Menu Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bombApp.menuItem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-menu-item"
        [routerLink]="['/menu-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bombApp.menuItem.home.createLabel"> Create a new Menu Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="menuItems?.length === 0">
    <span jhiTranslate="bombApp.menuItem.home.notFound">No menuItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="menuItems && menuItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title"><span jhiTranslate="bombApp.menuItem.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="expirationDate">
            <span jhiTranslate="bombApp.menuItem.expirationDate">Expiration Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="bombApp.menuItem.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="party.id"><span jhiTranslate="bombApp.menuItem.party">Party</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="food.id"><span jhiTranslate="bombApp.menuItem.food">Food</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menuItem of menuItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/menu-item', menuItem.id, 'view']">{{ menuItem.id }}</a>
          </td>
          <td>{{ menuItem.title }}</td>
          <td>{{ menuItem.expirationDate | formatMediumDatetime }}</td>
          <td>{{ menuItem.description }}</td>
          <td>
            <div *ngIf="menuItem.party">
              <a [routerLink]="['/party', menuItem.party?.id, 'view']">{{ menuItem.party?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="menuItem.food">
              <a [routerLink]="['/food', menuItem.food?.id, 'view']">{{ menuItem.food?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/menu-item', menuItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/menu-item', menuItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(menuItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="menuItems && menuItems.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
